.timer {
  text-align: center;
  width: 450px;
  margin: 20px;
  padding: 30px;
  background-color: aqua;
  box-shadow: 0 4px 8px rgba(4, 8, 228, 0.9);
}
  
h2 {
  color: #333;
}
  
h3 {
  font-size: 2em;
  color: #007bff;
  margin-top: 0;
}
  